/* body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } */
*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul,li,a{
    list-style:none;
    text-decoration:none;
    color:#fff;
}
body{
    background-image:url('../img/bg.jpg');
    position:relative;
    text-align:center;
    /* color:#fff; */
}
header{
    width:100%;
    height:50px;
    background-color:#191818;
    border:#080808;
    text-align:left;
}
.clearFix::after{
    display: block;
    content:"";
    clear: both;
}
.myheader{
    width:900px;
    margin:0 auto;
    height:50px;
    /* background-color:pink; */
    padding:5px 10px;
    box-sizing:border-box;
    box-sizing:border-box;
    line-height:40px;
    position: relative;
}
.title{
    float:left;
    font-size:18px;
    cursor: pointer;
    color:#fff;
}
.title:hover{
    color:#ddd;
}
.myheader>ul{
    display: inline-block;
    margin-left:20px;
}
.myheader>ul>li{
    display: inline-block;
    margin:0 10px;
    font-size:14px;
}
.myheader>ul>li>a:hover{
    color:#ddd;
}

.myheader .search-box input{
    
    position: absolute;
    right:75px;
    top:50%;
    margin-top:-17.5px;
    width:200px;
    height:35px;
    outline:none;
    border:1px solid #ddd;
    border-radius:5px;
    padding:2px 5px;
    box-sizing:border-box;
}
.myheader .search-box button{
    position: absolute;
    right:10px;
    top:50%;
    margin-top:-17.5px;
    outline: none;
    width:60px;
    height:35px;
    border-radius: 5px;
    border:1px solid #ddd;
    background-color:#fff;
    box-sizing: border-box;
    cursor: pointer;
}
.myheader .search-box button:hover{
    background-color:#eee;
}

.myfooter{
    width:100%;
    min-width:1000px;
    background-color:#000;
    height:80px;
    text-align:center;
    padding:10px 20px;
    /* position:absolute;
    bottom:0; */
    box-sizing:border-box;
    color:#eee;
    margin-top:20px;
}
.myfooter>div>a{
    color:#ddd;
    font-size:14px;
    margin:0 5px
 
}
.myfooter a:hover{
    color:#337ab7;
    
}
.myfooter>p{
    margin-top:10px;
    font-size:14px;
}

